In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\vishal kumawat\appdata\local\programs\python\python38\lib\site-packages (1.3.0)

WARNING: You are using pip version 20.2.3; however, version 21.2.2 is available.
You should consider upgrading via the 'c:\users\vishal kumawat\appdata\local\programs\python\python38\python.exe -m pip install --upgrade pip' command.

Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\vishal kumawat\appdata\local\programs\python\python38\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in c:\users\vishal kumawat\appdata\local\programs\python\python38\lib\site-packages (from pandas) (2021.1)
Requirement already satisfied: numpy>=1.17.3 in c:\users\vishal kumawat\appdata\local\programs\python\python38\lib\site-packages (from pandas) (1.21.0)
Requirement already satisfied: six>=1.5 in c:\users\vishal kumawat\appdata\local\programs\python\python38\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)

In [2]:
import pandas as pd

In [3]:
l1=['vishal','kumawat']

In [4]:
a=pd.Series(l1)

In [5]:
a.shape

(2,)

In [6]:
a
# output='none'

0     vishal
1    kumawat
dtype: object

In [7]:
a.values

array(['vishal', 'kumawat'], dtype=object)

In [8]:
a.index

RangeIndex(start=0, stop=2, step=1)

a.dtype

In [9]:
type(a)

pandas.core.series.Series

In [10]:
# a.product()

In [11]:
a.sum()

'vishalkumawat'

In [12]:
a=pd.Series([1,2,3,4,5])

In [13]:
type(a)

pandas.core.series.Series

In [14]:
a.dtype

dtype('int64')

In [15]:
a.sum()

15

In [16]:
a.product()

120

In [17]:
a.mean()

3.0

In [18]:
a.median()

3.0

In [19]:
a.sort_values(ascending=False)

4    5
3    4
2    3
1    2
0    1
dtype: int64

In [20]:
a

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [21]:
li={
    1:"apple",
    2:"banana",
    3:"cat"
    
}

In [22]:
li

{1: 'apple', 2: 'banana', 3: 'cat'}

In [23]:
li=pd.Series(li)

In [24]:
li

1     apple
2    banana
3       cat
dtype: object

In [25]:
l1=[1,2,3,4,5]
l2=['a','b','c','d','e']

In [26]:
li=pd.Series(index=l1,data=l2)

In [27]:
li

1    a
2    b
3    c
4    d
5    e
dtype: object

In [28]:
a=pd.DataFrame([[1,2,3],[1,2,3],[1,2,3]])

In [29]:
a

   0  1  2
0  1  2  3
1  1  2  3
2  1  2  3

In [30]:
data=pd.read_csv('jamesbond.csv')

In [31]:
data.head()

,Film,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
0,Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
1,From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
2,Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
3,Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
4,Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [32]:
data.tail(20)

,Film,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
6,On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
7,Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
8,Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
9,The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
10,The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
11,Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
12,For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
13,Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN
14,Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
15,A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
16,The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
17,Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
18,GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
19,Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
20,The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
21,Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
22,Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
23,Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
24,Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
25,Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN

In [33]:
# data.head(60)

In [34]:
len(data)

26

In [35]:
data[:1]

,Film,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
0,Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6

In [36]:
data[1:5]

,Film,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
1,From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
2,Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
3,Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
4,Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [37]:
sorted(data,reverse=True)

['Year',
 'Film',
 'Director',
 'Budget',
 'Box Office',
 'Bond Actor Salary',
 'Actor']

In [38]:
a=list(data)

In [39]:
a

['Film',
 'Year',
 'Actor',
 'Director',
 'Box Office',
 'Budget',
 'Bond Actor Salary']

In [40]:
data

,Film,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
0,Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
1,From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
2,Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
3,Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
4,Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
5,You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4
6,On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
7,Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
8,Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
9,The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
10,The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
11,Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
12,For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
13,Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN
14,Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
15,A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
16,The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
17,Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
18,GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
19,Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
20,The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
21,Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
22,Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
23,Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
24,Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
25,Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN

In [41]:
data.Film="hjhhh"

In [42]:
data

,Film,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
0,hjhhh,1962,Sean Connery,Terence Young,448.8,7.0,0.6
1,hjhhh,1963,Sean Connery,Terence Young,543.8,12.6,1.6
2,hjhhh,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
3,hjhhh,1965,Sean Connery,Terence Young,848.1,41.9,4.7
4,hjhhh,1967,David Niven,Ken Hughes,315.0,85.0,NaN
5,hjhhh,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4
6,hjhhh,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
7,hjhhh,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
8,hjhhh,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
9,hjhhh,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
10,hjhhh,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
11,hjhhh,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
12,hjhhh,1981,Roger Moore,John Glen,449.4,60.2,NaN
13,hjhhh,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN
14,hjhhh,1983,Roger Moore,John Glen,373.8,53.9,7.8
15,hjhhh,1985,Roger Moore,John Glen,275.2,54.5,9.1
16,hjhhh,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
17,hjhhh,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
18,hjhhh,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
19,hjhhh,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
20,hjhhh,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
21,hjhhh,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
22,hjhhh,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
23,hjhhh,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
24,hjhhh,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
25,hjhhh,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN

In [43]:
data=pd.read_csv('jamesbond.csv',index_col='Film')

In [44]:
data

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN

In [45]:
data.value_counts()

Year  Actor           Director            Box Office  Budget  Bond Actor Salary
1962  Sean Connery    Terence Young       448.8       7.0     0.6                  1
1963  Sean Connery    Terence Young       543.8       12.6    1.6                  1
2008  Daniel Craig    Marc Forster        514.2       181.4   8.1                  1
2006  Daniel Craig    Martin Campbell     581.5       145.3   3.3                  1
2002  Pierce Brosnan  Lee Tamahori        465.4       154.2   17.9                 1
1999  Pierce Brosnan  Michael Apted       439.5       158.3   13.5                 1
1997  Pierce Brosnan  Roger Spottiswoode  463.2       133.9   10.0                 1
1995  Pierce Brosnan  Martin Campbell     518.5       76.9    5.1                  1
1989  Timothy Dalton  John Glen           250.9       56.7    7.9                  1
1987  Timothy Dalton  John Glen           313.5       68.8    5.2                  1
1985  Roger Moore     John Glen           275.2       54.5    9.1                  1
1983  Roger Moore     John Glen           373.8       53.9    7.8                  1
1971  Sean Connery    Guy Hamilton        442.5       34.7    5.8                  1
1969  George Lazenby  Peter R. Hunt       291.5       37.3    0.6                  1
1967  Sean Connery    Lewis Gilbert       514.2       59.9    4.4                  1
1965  Sean Connery    Terence Young       848.1       41.9    4.7                  1
1964  Sean Connery    Guy Hamilton        820.4       18.6    3.2                  1
2012  Daniel Craig    Sam Mendes          943.5       170.2   14.5                 1
dtype: int64

In [50]:
data[data['Year']>1980]

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN